extend ../layout/common
block nav   
    include ../layout/nav
block content
    .row
        each value in product
            .col.m-1.flex-grow-0
                .card(style='width: 15rem; min-height: 10rem')
                    img.card-img-top(src=''+value.image, alt='Card image cap')
                    .card-body
                        h5.card-title #{value.name}
                        p(style="overflow: auto;height:8rem").card-text #{value.description}
                        a.btn.btn-primary(href='/product/'+value.id) Go somewhere
    nav(aria-label='...')
        ul.pagination
            if page > 0
                li.page-item
                    a.page-link(href='/product?page='+(page-1)) Previous
                if page!==1    
                    li.page-item
                        a.page-link(href='/product?page='+(page-1)) #{page-1}
            li.page-item.active(aria-current='page')
                a.page-link(href='/product?page='+(page))
                    | #{page}
                    span.sr-only (current)
            li.page-item
                a.page-link(href='/product?page='+(page+1)) #{page+1}
            li.page-item
                a.page-link(href='/product?page='+(page+1)) Next
            